h1 {
    text-align: center;
}

li, ul {
    list-style-type:none;
}

.episodes-list {
    margin: 0;
    padding: 0;
}

.character-image-container {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.character-image {
    width: auto;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.characters-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.empty-container {
    width: 20%;
}

.characters-information {
    display: inline-block;
    width: 33%;
    font-size: 20px;
}